<h3>Projects Summary</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Current Month Cost</th>
        <th>Average Monthly Cost</th>
        <th>Year To Date Cost</th>
        <th>Trending</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td><a (click)="gotoDetail(project.projectID)"> {{project.projectName}} </a>{{project.projectName}}</td>
        <td>{{project.costCurrentMonth}}</td>
        <td>{{project.avgMonthlyCost}}</td>
        <td>{{project.ytdCost}}</td>
        <td>{{project.trending}}</td>
      </tr>
    </tbody>
</table>