<div *ngIf="project">
  <h2>{{project.projectName}} details!</h2>
  <div class="row">
    <div class="col-sm-2">
    <p><label>id: </label>{{project.projectID}}</p>
    <p><label>Average Monthly Cost: </label></p>
    <p><input [(ngModel)]="project.avgMonthlyCost" placeholder="avgMonthlyCost" /><p>
    <p><label>Trend: </label></p>
    <p><input [value]="project.trending" placeholder="trending" disabled="true" /></p>
    </div>
    <div class="col-sm-8">
      <piechart></piechart>
    </div>
  </div>
  <div class="row">
    <chart></chart>
  </div>
  <button (click)="goBack()">Back</button>
</div>
